#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.linkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0;
  border: 1px solid #ccc;
  background: linear-gradient(180deg, #272727 0%, #141414 100%);
  border-radius: 0.5em;
  padding: 1em;
  flex-direction: column;
}
.linkbox:hover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0;
  border: 1px solid #5e5e5e;
  background: linear-gradient(45deg, #272727 0%, #141414 100%);
  border-radius: 0.5em;
  padding: 1em;
  flex-direction: column;
  transition: .1s ease-in-out;
}
